<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Ticaje\Dummy\Configuration\ConnectorInterface" type="Ticaje\Dummy\Configuration\Connector"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ticaje_dummy_command_repository" xsi:type="object">Ticaje\Dummy\Console\Command\Repository</item>
                <item name="ticaje_dummy_command_configuration" xsi:type="object">Ticaje\Dummy\Console\Command\Configuration</item>
                <item name="ticaje_dummy_command_connector" xsi:type="object">Ticaje\Dummy\Console\Command\Connector</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Ticaje\Dummy\Repository\DummyRepository" type="Ticaje\Base\Repository\Base\BaseRepository">
        <arguments>
            <argument name="object" xsi:type="string">Ticaje\Dummy\Model\Dummy</argument>
            <argument name="collection" xsi:type="string">Ticaje\Dummy\Model\ResourceModel\Dummy\Collection</argument>
            <argument name="searchResultsFactory" xsi:type="object">Magento\Framework\Api\SearchResultsInterfaceFactory</argument>
        </arguments>
    </virtualType>

    <type name="Ticaje\Dummy\Console\Command\Repository">
        <arguments>
            <argument name="dummyRepository" xsi:type="object">Ticaje\Dummy\Repository\DummyRepository</argument>
        </arguments>
    </type>

    <!-- It's mandatory using the REST client as a VT instead of class it self so avoiding collisions -->
    <virtualType name="Ticaje\Dummy\Gateway\Client\Rest" type="Ticaje\Connector\Gateway\Client\Rest">
    </virtualType>

    <virtualType name="Ticaje\Dummy\Gateway\Provider\Token\Token" type="Ticaje\Connector\Gateway\Provider\Token\Token">
        <arguments>
            <argument name="connector" xsi:type="object">Ticaje\Dummy\Gateway\Client\Rest</argument>
            <argument name="endpoint" xsi:type="string">auth/oauth/v2/token</argument>
            <argument name="verb" xsi:type="string">GET</argument>
            <argument name="baseUri" xsi:type="string">https://api.dummy.domain.com/</argument>
        </arguments>
    </virtualType>

    <type name="Ticaje\Dummy\Console\Command\Connector">
        <arguments>
            <argument name="tokenProvider" xsi:type="object">Ticaje\Dummy\Gateway\Provider\Token\Token</argument>
        </arguments>
    </type>

</config>
